# Notes: {{.Name}}

## RECON

### NMAP

scan ports ALL:

`nmap -v -Pn -p- --min-rate=5000 -o nmap-{{.Name}}.txt {{.IPAddress}}`

scan version, OS:

`nmap -v -Pn -p- -sC -sV -O --min-rate=5000 -o nmap-{{.Name}}.txt {{.IPAddress}}`

vuln scan ALL:

`nmap -v -Pn -p- -sV --script vuln* -o nmap-{{.Name}}.txt {{.IPAddress}}`

samba enum, vuln:

`nmap -v -Pn -p 139,445 --script smb-enum-shares {{.IPAddress}}`

`nmap -v -Pn -p 139,445 --script smb-vuln* {{.IPAddress}}`

### GOBUSTER / FEROXBUSTER

general enumeration:

`gobuster dir -e -u http://{{.IPAddress}} -w $WORDLIST -o gobuster-{{.Name}}.txt`

add `-k` for `https`

extension scan:

`gobuster dir -x cgi,php,sh,log, -u http://{{.IPAddress}}/cgi-bin/ -w $WORDLIST`

Wordlists:

* [ ] `/usr/share/wordlists/dirbuster/directory-list-2.3-medium.txt`
* [ ] `/usr/share/wordlists/SecLists/Discovery/Web-Content/raft-*`

## REVERSE SHELLS


### Upgrade your shell

Python:

```bash
which python 
python -c 'import pty; pty.spawn("/bin/bash")'
```

Bash:

```bash
SHELL=/bin/bash script -q /dev/null
```

STTY:

1. `ctrl-z` to background your reverse shell
2. attack machine: `stty raw -echo` to send control characters through the reverse shell
3. attack machine: `stty size` and take note of rows & cols
4. `fg` to foreground your reverse shell again

finally, on target:

```bash
export SHELL=bash
stty rows $x columns $y #Set remote shell to x number of rows & y columns
export TERM=xterm-256color #allows you to clear console, and have color output
```
